header{
    height: .9rem;
    font-size: .28rem;
    line-height: .48rem;
    background-color: rgba(0,0,0,.8);
}
header .a-i{
    justify-content: space-between;
    padding: 0 0.3rem;
    height: 100%;
}
header .a-i > a{
    display: none;
}
header .menu{
    display:block ;
    position: absolute;
    top: 100%;
    line-height: .7rem;
    background-color: rgba(0,0,0,.6);
    padding: .2rem .3rem;
    right: -100%;
    transition: all .3s linear;
}
header .logo{
    display: block;
    width: 1.72rem;
}
header .mune{
    display: block;
    width: .42rem;
    height: .42rem;

}
header .menu li:last-child{
    display: none;
}

header a.active:after{
    display: none;
}
.banner{
    margin-top: .9rem;
}
.banner .poss img,.banner .poss p:nth-child(4){
    display: none;
}
.banner h2{
    font-size: .36rem;
    margin-bottom: .5rem;
}
.banner h2.pte{
    margin-bottom: .3rem;
    margin-top: 13%;
}
.banner .t-I{
    text-indent: 15%;
}
.banner .poss p{
    font-size: .28rem;
}
.banner .cans img{
   display: block;
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
}
.banner .cans .tea{
    margin: 20% auto 14%;
}
.banner .cans h2{
    font-size: .46rem;
    margin-bottom: .6rem;
}
.banner .cans span{
    font-size: .24rem;
    display: block;
    margin: .2rem 0;
}
.banner .cans p{
    font-size: .24rem;
}
.banner .cans .conyy{
    display: none;
    padding: 0 .2rem;
}
.teleft{
    min-height: 2.75rem;
}
/*.banner .cans .conyy >div{*/
    /*flex: 1;*/
/*}*/
/*.banner .cans .conyy >div p{*/
    /*display: block;*/
/*}*/
/*.banner .cans .conyy >div:nth-child(2){*/

/*}*/
.lassss{
    color: #333;
    text-align: center;
    padding: .4rem 0;
    display: block;
}
.cancasss{
    /*background-color: rgba(0,0,0,.5);*/
    background-color: #eee;
}
.lassss > div{
    margin-bottom: .6rem;
}
.lassss h5{
    font-size: .28rem;
    line-height: .4rem;
}
.lassss span{
    font-size: .24rem;
    display: block;
    margin: .15rem 0;
}
.lassss p{
    font-size: .24rem;
    margin-bottom: .15rem;
}
.content .lrght img{
    transition: all .4s linear;
}
.pright > div{
    transition: all .4s ease-in-out;
}
.seccontent .lrght{
    display: block;
    font-size: .28rem;
    line-height: .5rem;
}
.seccontent .content,.procu .product{
    padding: .4rem .3rem;
}
.content h4,.procu h4{
    font-size: .4rem;
    color: #333;
}
.content .title,.procu .title{
    margin: .2rem 0 .3rem 0;
}
.content .title img,.procu .title img{
    margin-right: .2rem;
    width: .25rem;
    height: .25rem;
}
.content .left{
    margin-bottom: .5rem;
}
.content .lrght .first.active{
    width: 30%;
    bottom: .9rem;
}
.content .lrght .sec.active{
    width: 33%;
}
.content .lrght .th.active{
    width: 31%;
    bottom: 2rem;
}
.procu .pright{
    display: block;
}
.procu .pright > div{
    width:auto;
    margin-bottom: .3rem;
    align-items: stretch;
}
.procu .pright > div > div:first-child{
    width:40%;
    margin-right: .2rem;
}
.procu .pright > div > div:last-child{
    font-size: .24rem;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding:.1rem;
    line-height: .4rem;
}
.procu .pright > div p:last-child{
    text-align: right;
}
.foot{
    font-size: .3rem;
    padding: .4rem;
    display: block;
    text-align: center;
}
.foot .left img{
    display: block;
    width: 40%;
    margin:0 auto .3rem;
}
.foot .right{
    text-align: left;
    display: block;
    margin-top: .3rem;
    font-size: .24rem;
    line-height: .6rem;
    color: #9B9B9B;
}
.foot .right i{
    display: block;
}
.foot .right div:first-child{
    font-size: .3rem;
    color: #fff;
    margin-bottom: .3rem;
}
.foot .right img{
    width: .3rem;
    height: .3rem;
    align-self: center;
    margin-right: .2rem;
}
.foot .right .flex:nth-child(2) img{
    align-self: flex-start;
    margin-top: .15rem;
}
