header{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 22;
}
header li:last-child{
    cursor: pointer;
    color: #fff;
}
header a{
    color: #fff;
    display: block;
}
header a.active{
    color: #14A2F7;
}
header a.active:after{
    content: '';
    background-color: #14A2F7;
    display: block;
    margin: -20px auto 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
header li{
    position: relative;
}
header .mune,header .logo{
    display: none;
}
header li img{
    display: none;
    position: absolute;
    left: -100%;
}
header li:hover img{
    display: block;
}
.banner{
    position: relative;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.banner .poss{
    transition: all .6s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50px;
    opacity: 0;
}
.banner > img{
    display: block;
    width: 100%;
}
.banner h2{
    font-weight: 500;
    font-size: 60px;
    margin: 16.3% auto 2.6%;
}
.banner p:nth-child(2){
    font-size: 28px;
}
.banner .ew{
    margin: 6% auto 1.5%;
    width: 6.7%;
}
.banner p:last-child{
    font-size: 18px;
}
.seccontent{
    overflow: hidden;
    background: url("../images/elu.png") no-repeat 28% 34%;
}
.content{
}
.content .lrght .left p{
    /*-webkit-transition: all 2s linear;*/
    /*-moz-transition: all 2s linear;*/
    /*-ms-transition: all 2s linear;*/
    /*-o-transition: all 2s linear;*/
    /*transition: all 2s linear;*/
    opacity:0;
    position: relative;
    top: 50px;
}
.content .lrght img{
    transition: all 1s linear;
}
.content .lrght img.active{
    right: 0;
    bottom: 0;
}
.content .lrght img.sec{
    transition-delay: .3s;
    -moz-transition-delay: .3s; /* Firefox 4 */
    -webkit-transition-delay: .3s; /* Safari 和 Chrome */
    -o-transition-delay: .3s; /* Opera */
}
.content .lrght img.th{
    transition-delay: .6s;
    -moz-transition-delay: .6s; /* Firefox 4 */
    -webkit-transition-delay: .6s; /* Safari 和 Chrome */
    -o-transition-delay: .6s; /* Opera */
}
.content .lrght img{
    position: relative;
    margin-right: 0.5%;
    align-self: center;
    right: -1000px;
    bottom: -500px;
}
.procu{
    overflow: hidden;
}
.pright > div{
    transition: all 1s ease-in-out;
    position: relative;
    right: -5000px;
    top: -500px;
}
.pright > div:nth-child(2){
    transition-delay: .4s;
    -moz-transition-delay: .4s; /* Firefox 4 */
    -webkit-transition-delay: .4s; /* Safari 和 Chrome */
    -o-transition-delay: .4s; /* Opera */
}
.pright > div:nth-child(3){
    transition-delay: .8s;
    -moz-transition-delay: .8s; /* Firefox 4 */
    -webkit-transition-delay: .8s; /* Safari 和 Chrome */
    -o-transition-delay: .8s; /* Opera */
}
.pright > div:nth-child(4){
    transition-delay: 1.2s;
    -moz-transition-delay: 1.2s; /* Firefox 4 */
    -webkit-transition-delay: 1.2s; /* Safari 和 Chrome */
    -o-transition-delay: 1.2s; /* Opera */
}
footer{
    background-color: #25282B;
    color: #fff;
}
